@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500;6..12,700&family=Poppins&display=swap');


.account-side-bar {
    width: 300px;
    height: 80vh !important;
}

.color-design-pass,
.color-design-pass i {
    background-color: #FF007F;
    color: white !important;
}

.password-container-data {
    display: flex;
    overflow-X: hidden;
}

.change-password {
    width: calc(100vw - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
   box-shadow:0 0 10px rgba(255, 0, 128, 0.1);
    border-radius: 8px;
    width: 480px;
    height: 420px;
    margin-top: 10px;
}

.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 300px);
}

.change-password input {
    height: 45px;
    width: 400px;
    outline: none;
    border: none;
    box-shadow:0 0 10px rgba(255, 0, 128, 0.1);
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
}

.change-password input[type=submit] {
    width: 150px;
    background-color: #FF007F;
    cursor: pointer;
    color: white;
}

.account-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color:#FF007F;
}

.change-password div {
    margin: 20px 0;

}

.profile-title {
    color: #686868;
    font-size: 10px;
    margin:5px 0;
}

@media (max-width:860px) {
    .hide-item-small-screen {
        display: none;
    }

    .change-password-container {
        width: 100vw;
    }

    .change-password {
        height: 450px;
    }
}


@media screen and (min-width: 320px) and (max-width: 360px) {
    .change-password {
        width: 340px;
        margin-top: 10px;
    }

    .change-password input {
        width: 20rem;
    }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
    .change-password {
        width: 400px;
        margin-top: 40px;
    }

    .change-password input {
        width: 20rem;
    }

}