@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
     scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}
body,
html {
    overflow-x: hidden;
}

.login-container {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    position: relative;
    background-color: white;
}

 .img {
     display: flex;
    justify-content: end;
    align-items: center;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    width: 400px;
}

.login-content form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
     margin:-7px 0 15px;
    color: #333;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 1px solid black;
}


.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: #00ADEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #FF007F;
    font-size: 14px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #00ADEF;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -6px;
    font-size: 12px;
    color:#FF007F;
}

.input-div.focus>.i>i {
    color: #00ADEF;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}

.input-div.pass {
    margin-bottom: 4px;
}

.forgot-pass {
    display: block;
    text-align: right;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
    font-weight: bold;
}

a:hover {
    color: #38d39f;
}

.login-btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: #00ADEF;
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.login-btn:hover {
    background-position: right;
}

.new-user {
    color: #333;
}

.new-user a {
    font-weight: bold;
    color: #999;
}

@media screen and (max-width: 1050px) {
    .login-container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .login-content form {
        border: 2px solid rgb(229 231 235);
        border-radius: 8px;
        width: 60vw;
        padding: 20px;

    }

    .login-container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }


    .login-container {
        padding: 0;
    }

    .login-content {
        justify-content: center;
    }
}

@media (max-width:660px) {
    .login-content form {
        width: 80vw;
    }
}

@media (max-width:567px) {
    .login-content form {
        width: 90vw;
    }
}

@media (max-width:400px) {
    .login-container {
        height: auto;
    }

    .login-content form {
        width: 80vw;
    }
}

@media (max-width:1029px) {
    .login-container {
        margin-bottom: 8rem;
        margin-top: 30px;
    }
}