@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  outline: none;
  list-style: none;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

.centerng-item a {
  color: #ff007f;
}
.social-links-nav-bar a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: white;
  margin: 0 10px 10px 0;
  text-align: center;
  border-radius: 50%;
  color: #ff007f;
  transition: background 0.5s ease;
  border: 1px solid #00adef;
  font-size: 1rem;
}

.social-links-nav-bar a i {
  line-height: 40px;
}

.social-links-nav-bar a:hover {
  background-color: #ff007f;
  color: white !important;
  border: 1px solid #ff007f;
}
.toggle-name {
  position: relative;
}
.toggle-name::before {
  content: "";
  position: absolute;
  height: 1px !important;
  width: 97%;
  bottom: 0;
  background: #00adef;
  transition: 0.3s;
}

.sub-category-dorpdown-menu a {
  position: relative;
  transition: 0.3s;
}

.bold-style,
.color {
  font-weight: 500;
  position: relative;
}

.color {
  color: #ff007f;
  padding-right: 4px;
}

.sub-category-dorpdown-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 50%;
  background-color: #00adef;
  transition: 0.3s;
}

.sub-category-dorpdown-menu a:hover::after {
  width: 100%;
}

.color:hover {
  color: #00adef;
}

.sub-category-dorpdown-menu a {
  color: #ff007f;
}

.blue-color {
  color: #00adef !important;
}

.number-icon-position {
  position: relative;
}

.nav-link i {
  color: #ff007f !important;
}

sup {
  position: absolute !important;
  top: -13px !important;
  right: -13px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 19px;
  flex-direction: column;
}

.quantity-number {
  font-size: 13px;
  background-color: #00adef;
  color: white;
}

.arrow {
  position: relative;
  left: -13px;
  top: 2px;
}

.dropdown-menu-container ul li {
  padding: 0.5rem 0.5rem;
  font-size: 1.3rem;
}

.plus-minus-box {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  position: relative;
  left: 0.7rem;
}

.toggle-name {
  cursor: pointer;
  color: #ff007f;
  display: inline-block;
}

@media (min-width: 1031px) {
  .sub-category-dorpdown-menu.low-height {
    height: 240px;
  }
  .search-box-navbar {
    display: none;
  }
}
@media (max-width: 1030px) {
  .bottom-top-navbar {
    margin-top: 90px;
  }
  .search-box-navbar {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
  }

  .search-box-navbar input {
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #ff007f;
  }

  .search-box-navbar .icon-box {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1rem;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    pointer-events: none;
  }

  .search-box-navbar i {
    font-size: 1.5rem;
    color: #ff007f;
  }

  .custom-dropdown-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .nav {
    display: initial;
  }

  .hide-item-in-mobile {
    display: none !important;
  }

  .logo {
    display: inline;
    padding: 0.5rem 0 0 1rem;
    width: 50px;
    cursor: pointer;
  }

  .Dreamskin-logo {
    width: 100%;
  }

  .menu-and-close-icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-icon {
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
    z-index: 150;
    color: #ff007f;
  }

  .menu-and-close-icon {
    color: #ff007f;
  }

  .header-container {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 150;
    flex-direction: row-reverse;
  }

  /* Dropdown-menu Start */

  .overlay-box {
    background-color: rgba(0, 0, 0, 0.175);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    display: none;
  }

  body.active .overlay-box {
    display: block;
  }

  body.active {
    overflow: hidden;
  }

  .dropdown-menu-container {
    background-color: white;
    width: 60%;
    padding: 0 0 30px 10px;
    position: fixed;
    top: 80px;
    z-index: 150 !important;
    padding-top: 20px;
    right: 0;
    height: 99vh;
    overflow-x: scroll;
    transform: translateX(100%);
  }

  .dropdown-menu-container ul li {
    padding: 0.5rem 0.5rem;
    font-size: 1.3rem;
  }

  .plus-minus-box {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    position: relative;
    left: 0.7rem;
  }

  .plus,
  .minus {
    position: absolute;
    font-size: 1.5rem;
    top: 3px;
    transition: 0.4s;
    font-weight: 900;
  }

  .minus {
    opacity: 0;
    transform: rotate(180deg);
  }

  .plus-minus-box.active .minus {
    opacity: 1;
  }

  .plus-minus-box.active .plus {
    opacity: 0;
    transform: rotate(180deg);
  }

  .sub-category-dorpdown-menu {
    box-shadow: 0 0 10px rgba(255, 0, 128, 0.1);
    width: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s linear;
    padding-left: 20px;
  }

  .sub-category-dorpdown-menu.low-height {
    transition: 0.3s;
  }

  .sub-category-dorpdown-menu.active {
    height: 795px;
  }

  .sub-category-dorpdown-menu.low-height.active {
    height: 240px;
  }

  .sub-category-dorpdown-menu.second-dropdown.active {
    height: 550px;
  }

  .sub-category-dorpdown-menu.xs-height.active {
    height: 140px;
  }


  /* Dropdown-menu End*/

  .bottom-menu {
    position: fixed;
    z-index: 99 !important;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 40px 40px 0 0;
    height: 5rem;
    display: grid;
    place-items: center;
  }

  .nav-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.4rem;
  }

  .nav-icon {
    font-size: 1.8rem;
  }

  .nav-name {
    font-size: 10px;
    color: black;
    font-weight: 400;
  }

  .align {
    padding-left: 1.5px;
  }
}

@media (min-width: 660px) {
  .dropdown-menu-container {
    width: 50%;
  }

  .logo {
    width: 80px;
  }
}
@media (max-width: 660px) {
  .dropdown-menu-container {
    top: 47px;
    width: 80%;
  }
}

@media (min-width: 1030px) {
  .hide-item {
    display: none !important;
  }

  .logo {
    width: 100px;
  }

  .Dreamskin-logo {
    width: 100%;
  }

  .nav {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.321);
    flex-wrap: nowrap;
  }

  .sub-category-dorpdown-menu {
    position: absolute;
    width: 15%;
    top: 105px;
  }

  .dropdown-menu-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .toggle-name,
  .dropdown-menu-ul a {
    font-size: 1.1rem;
  }

  .dropdown-menu-container {
    display: flex;
    align-items: center;
    width: 110%;
  }

  .nav-list {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-icon {
    font-size: 1.9rem;
    margin: 0 10px;
  }

  .dropdown-align:hover .arrow {
    transform: rotate(180deg);
    transition: 0.4s;
  }

  .sub-category-dorpdown-menu {
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 0, 128, 0.1);
    padding: 0;
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    transform: scale(0) translateY(-300px);
    margin-top: -35px;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
  }

  .dropdown-align:hover .sub-category-dorpdown-menu {
    transform: scale(1);
    transition: 0.5s;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1210px) {
  .dropdown-menu-ul {
    width: 110%;
  }

  .toggle-name,
  .dropdown-menu-ul a {
    font-size: 1rem;
  }

  .centerng-item {
    margin-top: -6px;
  }

  .nav-icon {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1030px) and (max-width: 1068px) {
  .nav-icon {
    font-size: 1.5rem;
  }
}

.account-container-nav-bar {
  background-color: white;
  border-radius: 20px;
  position: absolute;
  width: 30rem;
  height: 20rem;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.3);
  z-index: 5;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(0);
}

.account-container-nav-bar a {
  color: #ff007f;
}

.account-container-nav-bar a i {
  color: #00adef;
}

.account-show:hover .account-container-nav-bar {
  transform: scale(1);
}

.account-title {
  text-align: center;
  margin: 20px 0 15px 0;
  font-size: 1.3rem;
}

.account-data-nav-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 29rem;
  gap: 15px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 40px 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.mange-btn-box-and-name-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.account-container-nav-bar .user-img img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: contain;
}

.manage-acc-btn {
  border: none;
  padding: 5px;
  border-radius: 8px;
  height: 40px;
  width: 120px;
  background-color: #ff007f;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  transition: background 0.3s;
}

.manage-acc-btn:hover {
  background-color: white;
  border: 2px solid #ff007f;
  color: black;
}

.user-account-detail ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 40px;
  border-radius: 8px;
}

.user-account-detail ul i {
  margin: 0 10px 0 0;
  line-height: 30px;
}

.name-and-email {
  cursor: default;
}

.hr-line-login {
  height: 1px;
  background-color: black;
  width: 90%;
  margin: 5px auto 0 auto;
}

.login-signup-container {
  background-color: rgba(0, 0, 0, 0.7);
}

body.active {
  overflow: hidden !important;
}

.nav .authentic-text-content {
  border-radius: 8px;
  padding: 8px 5px;
}

.pink-color {
  color: #ff007f;
}

.bold-style-text,
.pink-color,
.authentic-text-content {
  font-weight: 600;
}

.bottom-top-navbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 20px;
}

.bottom-top-navbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 20px;
}

@media (max-width: 660px) {
  .bottom-top-navbar {
    margin-top: 60px;
  }
}
